@import url(https://fonts.googleapis.com/css?family=Lato);
.landing {
  margin-top: 5vh;
  display: flex;
  flex-direction: column;
  align-items: center; }

.data-stuff {
  padding-top: 5vh;
  height: 60vh;
  width: 80vw;
  margin: 0 auto;
  outline: 1px solid #039fbe; }

.enter-site-btn {
  background-color: #dc0800;
  border: none;
  border-radius: 3px;
  padding: 10px; }

.enter-site-link {
  color: #fff;
  text-decoration: none;
  font-size: 200%;
  font-family: Lato, sans-serif; }
