@import url(https://fonts.googleapis.com/css?family=Lato);
.hamburger {
  display: none;
  background-image: url("../../assets/hamburger.svg");
  background-size: cover;
  height: 25px;
  width: 25px;
  border: none;
  background-color: #282a40; }

.nav-bar-brand-link {
  text-decoration: none;
  color: #f5f5f7;
  font-family: Lato; }

.nav-bar-brand-link:hover {
  color: #039fbe; }

.nav-bar {
  background-color: #282a40;
  display: flex;
  align-items: center;
  justify-content: space-between; }

.cover-title {
  font-size: 170%;
  color: #fff;
  padding: 10px;
  font-family: Lato; }

.nav-menu {
  margin-right: 10px; }

.nav-item {
  color: #fff;
  margin: 10px 15px;
  font-family: Lato;
  padding: 4px;
  border-bottom: 2px solid #282a40;
  text-decoration: none; }

.nav-item-li {
  display: inline-block;
  list-style-type: none; }

.nav-item:hover {
  color: #E6E6E8;
  border-bottom: 2px solid #039fbe;
  cursor: pointer; }

@media (max-width: 670px) {
  .nav-item-li {
    display: none; }
  .hamburger {
    display: block; } }
