@import url(https://fonts.googleapis.com/css?family=Lato);

$red-color: #de504b;
$red-hover: #C24642;
$turq-color: #47A7B4;
$turq-hover: #2D9AA9;
$navy-color: #293E5F;
$navy-hover: #1D2C44;
$lt-grey-color: #f5f5f7;
$grey-color: #E6E6E8;
$charcoal-color: #1b1b1b;

main {
  height: 100%;
  background-color: $lt-grey-color;
}

.home-title {
  color: $charcoal-color;
  width: 55%;
  margin: 0 auto;
  font-size: 150%;
  padding-top: 25px;
}

.emergency-section,
.hotline-section {
  width: 55%;
  margin: 0 auto;
  margin-bottom: 30px;
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 2% 0;
  background-color: #fff;
  border: 1px solid #E6E6E8;
  border-radius: 3px;
}

.emergency-title,
.hotline-title {
  margin-left: 5%;
  font-family: Lato;
  font-size: 120%;
  width: 200%;
  color: $charcoal-color;
}

.emergency-btn {
  background-color: #de4b78;
  padding: 8px;
  width: 80%;
  margin: 0 5% 0 auto;
  border: none;
  border-radius: 3px;
  color: #fff;
  font-size: 120%;
  font-family: Lato;
}

.emergency-btn:hover {
  background-color: #c24269;
  cursor: pointer;
}

.hotline-btn {
  background-color: #2da97a;
  padding: 8px;
  width: 80%;
  margin: 0 5% 0 auto;
  border: none;
  border-radius: 3px;
  color: #fff;
  font-size: 120%;
  font-family: Lato;
}

.hotline-btn:hover {
  background-color: #27946B;
  cursor: pointer;
}

.contacts-section {
  width: 55%;
  margin: 0 auto;
}

.section-title {
  font-family: Lato;
  color: $charcoal-color;
}

.no-contacts-card {
  padding: 4% 4%;
  margin: 2.5% 0;
  background-color: #fff;
  border: 1px solid #E6E6E8;
  border-radius: 3px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.no-contacts-text {
  font-family: Lato, sans-serif;
}

.add-contacts-btn {
  background-color: $navy-color;
  border: none;
  border-radius: 3px;
  font-size: 85%;
  padding: 10px 15px;
  margin: 0 auto;
  display: block;
}

.add-contacts-link {
  color: #fff;
  font-family: Lato;
  text-decoration: none;
}

@media (max-width: 900px) {

  .contacts-section {
    width: 75%;
  }

  .home-title {
    width: 75%;
  }

  .emergency-section,
  .hotline-section {
    width: 75%;
  }

  .nav-item {
    font-size: 90%;
  }

}

@media (max-width: 650px) {

  .contacts-section {
    width: 90%;
  }

  .home-title {
    width: 90%;
  }

  .emergency-section,
  .hotline-section {
    width: 90%;
  }

  .nav-item {
    margin: 5px 10px;
    padding: 4px;
    font-size: 85%;
  }

  .contact-card {
    grid-column-gap: 5px;
  }

  .contact-card-name {
    font-size: 90%;
  }

  .emergency-btn,
  .hotline-btn {
    font-size: 100%;
    width: 110%;
    padding: 7.5px 5px;
  }

  .custom-text-btn,
  .location-now-btn {
    font-size: 70%;
    padding: 7.5px 5px;
    height: 42px;
  }

}
