@import url(https://fonts.googleapis.com/css?family=Lato);

$red-color: #dc0800;
$red-hover: #E54640;
$turq-color: #039fbe;
$turq-hover: #42B7CE;
$navy-color: #282a40;
$navy-hover: #434558;
$lt-grey-color: #f5f5f7;
$grey-color: #E6E6E8;
$charcoal-color: #1b1b1b;

.main {
  background-color: $lt-grey-color;
}

.nav-bar {
  background-color: $navy-color;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.cover-title {
  font-size: 170%;
  color: #fff;
  padding: 10px;
  font-family: Lato;
}

.nav-menu {
  margin-right: 10px;
}

.nav-item {
  display: inline-block;
  color: #fff;
  margin: 10px 15px;
  font-family: Lato;
  padding: 4px;
  border-bottom: 2px solid $navy-color;
}

.nav-item:hover {
  color: $grey-color;
  border-bottom: 2px solid $turq-color;
}

.emergency-section {
  width: 50%;
  margin: 0 auto;
  margin-bottom: 30px;
  margin-top: 30px;
  display: grid;
  grid-template-columns: 1fr 4.5fr;
  padding: 2% 0;
  background-color: #fff;
  border: 1px solid #E6E6E8;
  border-radius: 3px;
}

.emergency-title {
  margin-left: 15%;
  font-family: Lato;
}

.emergency-btn {
  background-color: $red-color;
  padding: 10px;
  width: 40%;
  margin: 0 auto;
  border: none;
  border-radius: 3px;
  color: #fff;
  font-size: 120%;
  font-family: Lato;
}

.emergency-btn:hover {
    background-color: $red-hover;
}

.contacts-section {
  width: 50%;
  margin: 0 auto;
  margin-bottom: 30px;
}

.section-title {
  font-family: Lato;
}

.contact-card {
  display: grid;
  grid-template-columns: 1fr 2.25fr 2.25fr;
  grid-column-gap: 25px;
  padding: 4% 0;
  margin: 2.5% 0;
  background-color: #fff;
  border: 1px solid #E6E6E8;
  border-radius: 3px;
}

.contact-card-name {
  margin-left: 15%;
  font-family: Lato;
}

.custom-text-btn {
  background-color: $turq-color;
  color: #fff;
  border: none;
  border-radius: 3px;
  font-size: 85%;
  padding: 10px;
  width: 90%;
  font-family: Lato;
}

.custom-text-btn:hover {
  background-color: $turq-hover;
}

.location-now-btn {
  background-color: $navy-color;
  color: #fff;
  border: none;
  border-radius: 3px;
  font-size: 85%;
  padding: 10px;
  width: 90%;
  font-family: Lato;
}

.location-now-btn:hover {
  background-color: $navy-hover;
}
