@import url(https://fonts.googleapis.com/css?family=Lato);
.main {
  background-color: #f5f5f7; }

.nav-bar {
  background-color: #282a40;
  display: flex;
  align-items: center;
  justify-content: space-between; }

.cover-title {
  font-size: 170%;
  color: #fff;
  padding: 10px;
  font-family: Lato; }

.nav-menu {
  margin-right: 10px; }

.nav-item {
  color: #fff;
  margin: 10px 15px;
  font-family: Lato;
  padding: 4px;
  border-bottom: 2px solid #282a40;
  text-decoration: none; }

.nav-item-li {
  display: inline-block;
  list-style-type: none; }

.nav-item:hover {
  color: #E6E6E8;
  border-bottom: 2px solid #039fbe;
  cursor: pointer; }

.emergency-section {
  width: 55%;
  margin: 0 auto;
  margin-bottom: 30px;
  margin-top: 30px;
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 4.5fr;
  padding: 2% 0;
  background-color: #fff;
  border: 1px solid #E6E6E8;
  border-radius: 3px; }

.emergency-title {
  margin-left: 15%;
  font-family: Lato; }

.emergency-btn {
  background-color: #dc0800;
  padding: 10px;
  width: 40%;
  margin: 0 auto;
  border: none;
  border-radius: 3px;
  color: #fff;
  font-size: 120%;
  font-family: Lato; }

.emergency-btn:hover {
  background-color: #E54640;
  cursor: pointer; }

.hotline-section {
  width: 55%;
  margin: 0 auto;
  margin-bottom: 30px;
  margin-top: 30px;
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 4.5fr;
  padding: 2% 0;
  background-color: #fff;
  border: 1px solid #E6E6E8;
  border-radius: 3px; }

.hotline-title {
  margin-left: 15%;
  font-family: Lato;
  font-size: 100%;
  width: 200%; }

.hotline-btn {
  background-color: #039fbe;
  padding: 8px;
  width: 40%;
  margin: 0 auto;
  border: none;
  border-radius: 3px;
  color: #fff;
  font-size: 120%;
  font-family: Lato; }

.hotline-btn:hover {
  background-color: #42B7CE;
  cursor: pointer; }

.contacts-section {
  width: 55%;
  margin: 0 auto;
  margin-bottom: 30px; }

.section-title {
  font-family: Lato; }

.contact-card {
  display: grid;
  grid-template-columns: 1fr 2.25fr 2.25fr;
  grid-column-gap: 25px;
  align-items: center;
  padding: 4% 0;
  margin: 2.5% 0;
  background-color: #fff;
  border: 1px solid #E6E6E8;
  border-radius: 3px; }

.contact-card-name {
  margin-left: 15%;
  font-family: Lato; }

.custom-text-btn {
  background-color: #039fbe;
  color: #fff;
  border: none;
  border-radius: 3px;
  font-size: 85%;
  padding: 10px;
  width: 90%;
  font-family: Lato; }

.custom-text-btn:hover {
  background-color: #42B7CE;
  cursor: pointer; }

.location-now-btn {
  background-color: #282a40;
  color: #fff;
  border: none;
  border-radius: 3px;
  font-size: 85%;
  padding: 10px;
  width: 90%;
  font-family: Lato; }

.location-now-btn:hover {
  background-color: #434558;
  cursor: pointer; }

.no-contacts-card {
  padding: 4% 4%;
  margin: 2.5% 0;
  background-color: #fff;
  border: 1px solid #E6E6E8;
  border-radius: 3px;
  display: flex;
  flex-direction: row;
  align-items: center; }

.no-contacts-text {
  font-family: Lato, sans-serif; }

.add-contacts-btn {
  background-color: #282a40;
  border: none;
  border-radius: 3px;
  font-size: 85%;
  padding: 10px 15px;
  margin: 0 auto;
  display: block; }

.add-contacts-link {
  color: #fff;
  font-family: Lato;
  text-decoration: none; }

@media (max-width: 900px) {
  .contacts-section {
    width: 75%; }
  .emergency-section,
  .hotline-section {
    width: 75%; }
  .nav-item {
    font-size: 90%; } }

@media (max-width: 650px) {
  .contacts-section {
    width: 90%; }
  .emergency-section,
  .hotline-section {
    width: 90%; }
  .cover-title {
    font-size: 170%; }
  .nav-item {
    margin: 5px 10px;
    padding: 4px;
    font-size: 85%; }
  .contact-card {
    grid-column-gap: 5px; }
  .contact-card-name {
    font-size: 90%; }
  .emergency-btn,
  .hotline-btn {
    font-size: 100%;
    padding: 7.5px 5px; }
  .custom-text-btn,
  .location-now-btn {
    font-size: 70%;
    padding: 7.5px 5px; } }
