@import url(https://fonts.googleapis.com/css?family=Lato);

$red-color: #de504b;
$red-hover: #C24642;
$turq-color: #47A7B4;
$turq-hover: #2D9AA9;
$navy-color: #293E5F;
$navy-hover: #1D2C44;
$lt-grey-color: #f5f5f7;
$grey-color: #E6E6E8;
$charcoal-color: #1b1b1b;

* {
  color: $charcoal-color;
  font-size: 100%;
}

.about-title {
  width: 75%;
  margin: 0 auto;
  font-size: 150%;
  padding-top: 25px;
}

.about-section {
  background-color: $lt-grey-color;
  display: grid;
  grid-template-columns: 0.4fr 0.6fr;
  grid-template-areas: "top top" "leftTop rightTop" "leftBottom rightTop" "leftBottom rightBottom" "bottom bottom";
  width: 75%;
  margin: 0 auto;
}

.first-section {
  grid-area: top;
  padding: 20px;
  border: 1px solid $grey-color;
  border-radius: 3px;
  background-color: #fff;
  margin: 10px 0 10px 0;
}

.physical-section {
  border: 1px solid $grey-color;
  border-radius: 3px;
  grid-area: leftTop;
  padding: 7.5%;
  background-color: #fff;
  margin-bottom: 10px;
}

.phsyical-caption-1 {
  font-size: 300%;
}

.phsyical-caption-2 {
  display: block;
  font-size: 130%;
  margin-bottom: 5%;
}

.phsyical-infographic {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.physical-person-icon {
  height: 75px;
  width: 75px;
}

.psychological-pie {
  grid-area: rightTop;
  margin-left: 10px;
  padding-bottom: 10%;
  background-color: #fff;
  border: 1px solid $grey-color;
  border-radius: 3px;
  height: 450px;
  display: inline-block;
}

.psychological-caption {
  background-color: #fff;
  width: 80%;
  float: right;
  text-align: right;
  margin: -25px 20px 0 20px;
  font-size: 110%;
}

.forty-nine-percent {
  font-size: 140%;
  padding: 0 4px;
  color: $navy-color;
}

.medical-care-pie {
  grid-area: leftBottom;
  height: 350px;
  background-color: #fff;
  padding-bottom: 30%;
  border: 1px solid $grey-color;
  border-radius: 3px;
}

.medical-care-caption {
  background-color: #fff;
  margin: 0 20px;
  width: 84%;
  font-size: 105%;
}

.thirty-four-percent {
  font-size: 125%;
  color: $red-color;
}

.red-text {
  color: $red-color;
}

.hotline-calls {
  grid-area: rightBottom;
  height: 150px;
  margin-left: 10px;
  background-color: #fff;
  padding: 20px;
  border: 1px solid $grey-color;
  border-radius: 3px;
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-areas: "top top" "left rightTop" "left rightBottom";
}

.typical-day {
  grid-area: top;
  font-size: 150%;
}

.twenty-k {
  font-size: 350%;
  color: $red-color;
  display: inline-block;
  grid-area: left;
  padding-right: 5px;
}

.calls-second-paragraph {
  display: inline-block;
  grid-area: rightTop;
  padding-top: 15px;
  font-size: 100%;
}

.calls-third-paragraph {
  grid-area: rightBottom;
  font-size: 100%;
}

.report-section {
  border: 1px solid $grey-color;
  border-radius: 3px;
  background-color: #fff;
  margin-top: 10px;
  grid-area: bottom;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.call-to-action {
  border: 1px solid $grey-color;
  border-radius: 3px;
  background-color: #fff;
  width: 75%;
  margin: 0 auto;
  margin-top: 10px;
  padding: 20px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
}

.call-left {
  outline: 1px solid red;
  width: 47.5%;
}
.call-right {
  outline: 1px solid red;
  width: 47.5%;
}

@media (max-width: 1100px) {

  .about-section {
    width: 87.5%;
  }

  .about-title {
    width: 87.5%;
  }

  .psychological-caption {
    width: 85%;
    font-size: 100%;
  }

  .medical-care-caption {
    width: 90%;
    font-size: 90%;
  }

  .twenty-k {
    font-size: 300%;
  }

  .calls-second-paragraph,
  .calls-third-paragraph {
    font-size: 90%;
  }

  .call-to-action {
    width: 87.5%;
  }

}

@media (max-width: 850px) {
  .about-section {
    grid-template-columns: 1fr;
    grid-template-areas: "top" "rightTop" "leftTop" "leftBottom" "rightBottom" "bottom";
  }

  .first-section {
    margin-top: 5px;
  }

  .medical-care-pie {
    padding-bottom: 25%;
  }

  .psychological-pie {
    margin-left: 0;
    margin-bottom: 10px;
  }

  .psychological-caption {
    margin-top: -50px;
  }

  .hotline-calls {
    margin-left: 0;
    margin-top: 10px;
  }

  .twenty-k {
    padding-top: 11px;
  }

  .person-icon {
    height: 25px;
    width: 25px;
  }

}
