@import url(https://fonts.googleapis.com/css?family=Lato);

$red-color: #de504b;
$red-hover: #C24642;
$turq-color: #47A7B4;
$turq-hover: #2D9AA9;
$navy-color: #293E5F;
$navy-hover: #1D2C44;
$lt-grey-color: #f5f5f7;
$grey-color: #E6E6E8;
$charcoal-color: #1b1b1b;

* {
  color: $charcoal-color;
  font-size: 100%;
}

.hotline-calls {
  outline: 1px solid green;
  margin: 20px;
  background-color: $grey-color;
}

.twenty-k {
  font-size: 300%;
  color: $red-color;
  outline: 1px solid orange;
  display: inline-block;
}

.calls-second-paragraph {
  display: inline-block;
  outline: 1px solid blue;
}

.calls-third-paragraph {
  outline: 1px solid red;
}

.pie-section {
  display: flex;
  flex-direction: row;
}

.reported-pie,
.medical-care-pie {
  outline: 1px solid magenta;
  height: 225px;
  display: inline-block;
  width: 50%;
}

.person-icon {
  height: 25px;
  width: 25px;
}

.infographic {
  width: 50%;
}
