@import url(https://fonts.googleapis.com/css?family=Lato);
* {
  color: #1b1b1b;
  font-size: 100%; }

.about-section {
  background-color: #f5f5f7; }

.infographic-section {
  display: flex;
  flex-direction: column; }

.individual-infographic {
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-areas: "infographic caption";
  outline: 1px solid red;
  width: 90%;
  margin: 0 auto; }

.infographic-caption {
  grid-area: caption;
  outline: 1px solid blue; }

.infographic {
  grid-area: infographic;
  outline: 1px solid green;
  padding: 20px; }

.person-icon {
  height: 30px;
  width: 30px; }

.hotline-calls {
  outline: 1px solid green;
  margin: 20px;
  background-color: #E6E6E8; }

.twenty-k {
  font-size: 300%;
  color: #de504b;
  outline: 1px solid orange;
  display: inline-block; }

.calls-second-paragraph {
  display: inline-block;
  outline: 1px solid blue; }

.calls-third-paragraph {
  outline: 1px solid red; }

.pie-section {
  display: flex;
  flex-direction: row; }

.reported-pie,
.medical-care-pie {
  outline: 1px solid magenta;
  height: 225px;
  display: inline-block;
  width: 50%; }
