@import url("https://fonts.googleapis.com/css?family=Lato");
.authentication-section {
  height: 100vh; }
  .authentication-section .hidden {
    display: none; }

.create-account-section {
  border: 1px solid #E6E6E8;
  border-radius: 3px;
  width: 45%;
  margin: 0 auto;
  padding: 4%;
  background-color: #fff;
  margin-top: 5%; }

.create-account-title {
  color: #1b1b1b;
  text-align: center;
  font-size: 130%;
  font-family: Lato; }

.name,
.password {
  padding: 7.5px;
  width: 70%;
  display: block;
  margin: 0 auto;
  margin-top: 4%;
  border: 1px solid #1b1b1b;
  border-radius: 3px;
  font-size: 100%;
  font-family: Lato; }

.btn {
  background-color: #039fbe;
  color: #fff;
  width: 70%;
  border: none;
  padding: 7.5px;
  margin: 0 auto;
  display: block;
  border-radius: 3px;
  margin-top: 4%;
  font-size: 100%;
  font-family: Lato; }

.link-to-main {
  color: #fff;
  text-decoration: none;
  font-family: Lato; }

.btn:hover {
  background-color: #42B7CE;
  cursor: pointer; }

.sign-in-section {
  border: 1px solid #E6E6E8;
  border-radius: 3px;
  width: 45%;
  margin: 0 auto;
  padding: 4%;
  background-color: #fff;
  margin-top: 5%; }

.sign-in-title {
  color: #1b1b1b;
  text-align: center;
  font-size: 130%;
  font-family: Lato; }

.name,
.password {
  padding: 7.5px;
  width: 70%;
  display: block;
  margin: 0 auto;
  margin-top: 4%;
  border: 1px solid #1b1b1b;
  border-radius: 3px;
  font-size: 100%;
  font-family: Lato; }

.btn {
  background-color: #039fbe;
  color: #fff;
  width: 70%;
  border: none;
  padding: 7.5px;
  margin: 0 auto;
  display: block;
  border-radius: 3px;
  margin-top: 4%;
  font-size: 100%;
  font-family: Lato; }

.btn:hover {
  background-color: #42B7CE;
  cursor: pointer; }

.other-card-section {
  width: 70%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  margin-top: 30px; }

.already {
  font-family: Lato;
  color: #1b1b1b;
  font-size: 90%;
  margin-right: 10px; }

.other-card-btn {
  background-color: #282a40;
  color: #fff;
  border: none;
  padding: 5px 10px;
  border-radius: 3px;
  font-size: 80%;
  font-family: Lato; }

@media (max-width: 900px) {
  .sign-in-section,
  .create-account-section {
    width: 70%;
    padding: 25px 0px; }
  .nav-item {
    font-size: 90%; } }

@media (max-width: 650px) {
  .sign-in-section,
  .create-account-section {
    width: 85%;
    padding: 30px 0px; }
  .cover-title {
    font-size: 170%; }
  .nav-item {
    margin: 5px 10px;
    padding: 4px;
    font-size: 85%; } }
