@import url(./components/App/AppStyles.css);
@import url(./components/contactCards/ContactCardsStyles.css);
@import url(./components/authentication/AuthenticationStyles.css);
@import url(./components/main/MainStyles.css);
@import url(./components/manageContacts/ManageContactsStyles.css);
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif; }

.entire-app {
  background-color: #f5f5f7;
  height: 100vh; }
