@import url("https://fonts.googleapis.com/css?family=Lato");
.create-account-section {
  border: 1px solid #E6E6E8;
  border-radius: 3px;
  width: 45%;
  margin: 0 auto;
  padding: 4%;
  background-color: #fff;
  margin-top: 6%;
  margin-bottom: 6%; }

.create-account-title {
  color: #1b1b1b;
  text-align: center;
  font-size: 130%;
  font-family: Lato; }

.create-account-name,
.create-account-password {
  padding: 7.5px;
  width: 70%;
  display: block;
  margin: 0 auto;
  margin-top: 4%;
  border: 1px solid #1b1b1b;
  border-radius: 3px;
  font-size: 100%;
  font-family: Lato; }

.create-account-btn {
  background-color: #039fbe;
  color: #fff;
  width: 70%;
  border: none;
  padding: 7.5px;
  margin: 0 auto;
  display: block;
  border-radius: 3px;
  margin-top: 4%;
  font-size: 100%;
  font-family: Lato; }

.create-account-btn:hover {
  background-color: #42B7CE; }
